extends layout

block content
  h1= title
  section#audios
  
  form.form-horizontal(name="callForm", ng-submit="startCall()", ng-show="form_enabled", novalidate)
    div.form-group
      label.col-xs-1.control-label 名前 : 
      div.col-xs-3
        input.form-control(type="text", ng-model="name", required)
    
    div.form-group
      div.col-xs-offset-1.col-xs-10
        button.btn.btn-primary(type="submit", ng-disabled="callForm.$invalid") 通話開始
  
  h3 議事録(的にな何か)
  pre(style="width: 50%;") {{ chat }}
  
  pre(style="width: 30%;")
    img(style="border: 1px solid black;", ng-show="mic_anime_visible", src="/images/mic_animated.gif", height="30", align="right")
    img(style="border: 1px solid black;", ng-show="mic_stop_visible", src="/images/mic_stop.png", height="30", align="right")
    {{ "* 認識中の内容\n" + interimArea }}
  
  h3 ( ログ )
  pre(style="width: 50%;") {{ log }}

block scripts
  script(src='/socket.io/socket.io.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js")
  script(src='/javascripts/index.js')